@import url('https://fonts.googleapis.com/css?family=Lato:300i,400|Poppins&display=swap');
/* ======================================================================================================================== */
/* GLOBAL */
/* ======================================================================================================================== */
:root {
    --secondaryColor: #5CD1C9;
    --primaryColor:#56A3A6;
    --mainDark: #465354;
    --mainWhite: #EFF9F0;
    --mainGrey: rgb(156, 156, 156);
    --mainTransition: all 0.4s linear;
    --titleLetterSpacing: 0.25rem;
    --paragraphLetterSpacing: 0.1rem;
    --mainBoxShadow: 18px 18px 14px 0px rgba(0, 0, 0, 0.5);
    --pressBoxShadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.5);
    --mainTextShadow: 4px 4px 4px black;
    --pressTextShadow: 2px 2px 4px black;
}
html {
    font-size: 16px;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    letter-spacing: var(--paragraphLetterSpacing);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    letter-spacing: var(--titleLetterSpacing);
}
a {
    text-decoration: none;
}
/* ======================================================================================================================== */
/* HERO */
/* ======================================================================================================================== */
.hero{
    height: 100vh;
    background: url('../images/hero.jpeg');
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.hero-banner {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    color: var(--mainWhite);
    letter-spacing: var(--titleLetterSpacing);
    line-height: 2rem;
    -webkit-animation: appear 1s linear forwards;
            animation: appear 1s linear forwards;
}
@-webkit-keyframes appear {
    0% {
        -webkit-transform: translateY(-40%);
                transform: translateY(-40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        opacity: 1;
    }
}
@keyframes appear {
    0% {
        -webkit-transform: translateY(-40%);
                transform: translateY(-40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        opacity: 1;
    }
}
.hero-title {
    font-size: 3rem;
    margin-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: var(--mainTextShadow);
    line-height: 2.5rem;
}
.hero-text {
    margin-bottom: 5%;
    width: 85%;
    margin: 0 auto;
    letter-spacing: var(--paragraphLetterSpacing);
    font-weight: 700;
    text-shadow: var(--mainTextShadow);
    font-size: 1rem;
    line-height: 1.7rem;
}
.heroBtn {
    background-color: transparent;
    margin: 10% auto 0 auto;
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 1rem;
    padding: 1rem;
    border: 0.2rem solid var(--mainWhite);
    color: var(--mainWhite);
    text-shadow: var(--mainTextShadow);
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
} 
.heroBtn:hover {
    background-color: var(--mainWhite);
    color: var(--primaryColor);
    text-shadow: none;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    #bannerBtn {
        width: 30%;
    }

    .hero-title {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .hero-text {
        line-height: 2rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-height: 576px) {
    .hero-text {
        height: 0;
        visibility: hidden;
    }
}
/* ======================================================================================================================== */
/* ABOUT */
/* ======================================================================================================================== */
.about {
    background-color: var(--mainWhite);
    color: var(--mainDark);
    text-align: justify;
    padding-bottom: 3rem;
    padding-top: 1rem;
}
.about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.about-image img{
    width: 100%;
}
.about-title {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.about-title-title {
    font-size: 2rem;
}
.about-title-subtitle {
    font-size: 2rem;
    color: var(--primaryColor);
}
.about-text-subtitle {
    color: var(--primaryColor);
}
.about-text-text {
    padding: 1rem 2rem;
}
.about-text-title {
    padding: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}
#aboutBtn {
    margin: auto;
    margin-top: 2rem; 
    width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
}
.about-text {
    position: relative;
    opacity: 0;
}
.about-text-appear {
    -webkit-animation: slideFromRight 1s linear forwards;
            animation: slideFromRight 1s linear forwards;
}
@-webkit-keyframes slideFromRight {
    0% {
        -webkit-transform: translateX(10%);
                transform: translateX(10%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        -webkit-transform: translateX(10%);
                transform: translateX(10%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        opacity: 1;
    }
}
@media screen and (min-width: 992px){
    .about-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 90%;
        margin: 0 auto;
    }
    #aboutBtn {
        width: 30%;
        margin: 5% 15% 0 50%;
    }
    .about-title{
        padding-bottom: 1rem; 
    }
    .about-title-title,
    .about-title-subtitle {
        font-size: 3rem;
    }
    .about-image {
        -ms-flex-item-align: center;
            align-self: center;
    }
    .about-text {
        padding-left: 2rem;
        -ms-flex-item-align: center;
            align-self: center;
    }
    .about-image::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0.5rem solid var(--primaryColor);
        top: -2rem;
        left: -2rem;
    }
    .about-image {
        position: relative;
    }
    .about-image-image {
        position: relative;
    }
    .about-text-title {
        font-size: 1.5rem;
    }
    .about-text-text {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .about-title {
        margin-bottom: 3rem;
    }
}
/* ======================================================================================================================== */
/* SERVICES */
/* ======================================================================================================================== */
.services {
    background: url('../images/hero.jpeg');
    -webkit-filter: opacity(100%);
            filter: opacity(100%);
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    text-align: center;
    color: var(--mainWhite);
    text-shadow: var(--mainTextShadow);
}
.service-text-title,
.service-text-text {
    text-shadow: var(--mainTextShadow);
}
.service-text-title {
    font-size: 1.5rem;
    padding: 1rem;
}
.service-text-title-subtitle {
    font-size: 1.5rem;
    color: var(--secondaryColor);
}
.service-title-title,
.service-title-subtitle {
    font-size: 2rem;
    text-transform: uppercase;
}
.service-title-subtitle {
    color: var(--secondaryColor);
}
.service-text-title {
    text-transform: capitalize;
}
.service-icon {
    width: 4rem;
    height: 3rem;
    background-color: var(--primaryColor);
    font-size: 2rem;
    margin: auto;
    border-radius: 1rem;
}
.service-text-text {
    width: 90%;
    margin: auto;
    padding: 1rem;
}
.single-service {
    opacity: 0;
    padding-bottom: 3rem;
}
.single-service-appear {
    -webkit-animation: singleServiceAppear 1s linear forwards;
            animation: singleServiceAppear 1s linear forwards;
}
@-webkit-keyframes singleServiceAppear {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes singleServiceAppear {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
.service-title {
    padding: 4rem 0;
}
@media screen and (min-width: 992px) {
    .single-services-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 95%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: auto;
        -ms-flex-item-align: center;
            align-self: center;
    }
    .single-services {
        padding: 2rem;
    }
    .service-text-text {
        width: 75%;
        margin: auto;
    }
    .service-title-title,
    .service-title-subtitle {
        font-size: 3rem;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 1600px) {
    .single-services-container {
        width: 85%;
    }
}
/* ======================================================================================================================== */
/* OFFERS */
/* ======================================================================================================================== */
.offer-cards-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}
.offers {
    text-align: center;
    background-color: var(--mainWhite);
}
.offers-title {
    padding: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
}
.offer-description {
    opacity: 0;
    height: 0;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
}
.offer-show-description {
    height: 162px;
}
.offer-description-appear {
    opacity: 1;
}
.offer-description-text {
    padding: 1rem;
}
.offer-description-title-subtitle,
.offers-title-subtitle {
    color: var(--primaryColor);
}
.offers-title,
.offer-description-title,
.offer-description-text {
    color: var(--mainDark);
}
.offer-description-title,
.offer-description-title-subtitle {
    text-transform: capitalize;
    font-size: 1.5rem;
}
.offer-card {
    margin: auto;
    width: 90%;
    border: 0.3rem solid var(--primaryColor);
    margin-bottom: 2rem;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
    -webkit-box-shadow: var(--mainBoxShadow);
            box-shadow: var(--mainBoxShadow);
}
.offer-card:hover {
    cursor: pointer;
    -webkit-box-shadow: var(--pressBoxShadow);
            box-shadow: var(--pressBoxShadow);
}
.offer-image-container {
    width: 100%;
    position: relative;
}
.offers-image-image {
    width: 100%;
}
.offer-image-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1%;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
}
.offers {
    padding-bottom: 2rem;
}
.offer-image-date {
    text-transform: capitalize;
}
@media screen and (min-width: 768px){
    .offer-cards-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .offer-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .offers-title-title {
        font-size: 3rem;
    }
}
@media screen and (min-width: 1600px) {
    .offer-cards-container {
        width: 85%;
    }
    .offers-title {
        padding: 2rem;
        text-transform: uppercase;
        font-size: 3rem;
    }
}
/* ======================================================================================================================== */
/* DIVIDER */
/* ======================================================================================================================== */
.divider-from-white {
    background: -webkit-gradient(
            linear,
            left top, left bottom,
            from(var(--mainWhite)),
            to(var(--primaryColor))
        );
    background: linear-gradient(
            to bottom,
            var(--mainWhite),
            var(--primaryColor)
        );
    width: 100%;
    height: 2rem;
}

.divider-from-blue {
    background: -webkit-gradient(linear,
    left top, left bottom,
    from(var(--primaryColor)),
        to(var(--mainWhite)));
    background: linear-gradient(to bottom,
    var(--primaryColor),
        var(--mainWhite));
    width: 100%;
    height: 2rem;
}

/* ======================================================================================================================== */
/* GALLERY */
/* ======================================================================================================================== */
.gallery {
    background-color: var(--primaryColor);
}
.gallery-title-title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0 2rem 0;
    text-shadow: var(--mainTextShadow);
    color: var(--mainDark);
}
.gallery-title-subtitle {
    color: var(--mainWhite);
}
.gallery-image-container {
    position: relative;
    margin: auto;
    width: 90%;
    padding-bottom: 2rem;
    background-color: var(--primaryColor);
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
}
.gallery-image-description {
    opacity: 0;
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 80%;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
}
.gallery-image-description-title {
    color: var(--mainWhite);
    text-shadow: var(--mainTextShadow);
    font-size: 1.5rem;
}
.gallery-image-description-text {
    color: var(--mainWhite);
    font-size: 1rem;
    text-align: justify;
}
.gallery-image-image {
    width: 100%;
    border-radius: 1rem;
}
.gallery-image-container:hover .gallery-image-description {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}
.gallery-image-container:hover {
    opacity: 0.6;
}
.gallery-image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--mainWhite);
    text-shadow: var(--mainTextShadow);
    opacity: 0;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
}
.gallery-image-container:hover .gallery-image-icon {
    opacity: 1
}
@media screen and (min-width: 768px) {
    .gallery-images-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 95%;
        margin: auto;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .gallery-image-container {
        width: 45%;
    }
}
@media screen and (min-width: 992px) {
    .gallery-title-title {
        font-size: 3rem;
    }
}
@media screen and (min-width: 1200px) {
    .gallery-image-container {
        width: 30%;
    }
}
@media screen and (min-width: 1600px) {
    .gallery-images-container {
        width: 85%;
    }
}
/* ======================================================================================================================== */
/* NEWSLETTER */
/* ======================================================================================================================== */
.newsletter {
    padding: 2rem 0;
}
.newsletter-title,
.newsletter-form {
    text-align: center;
}
.newsletter-title-title {
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
    color: var(--mainDark);
}
.newsletter-title-subtitle {
    color: var(--primaryColor);
}
.newsletter-form-input {
    border: none;
    border-bottom: 0.2rem solid var(--primaryColor);
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--mainDark);
    outline-style: none;
}
.newsletter-form-input::-webkit-input-placeholder{
    color: var(--primaryColor);
}
.newsletter-form-input:-ms-input-placeholder{
    color: var(--primaryColor);
}
.newsletter-form-input::-ms-input-placeholder{
    color: var(--primaryColor);
}
.newsletter-form-input::placeholder{
    color: var(--primaryColor);
}
.newsletter-form-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
}
.newsletter-form-submitBtn {
    width: 50%;
    margin: auto;
    border: 0.2rem solid var(--primaryColor);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    text-transform: uppercase;
    color: var(--primaryColor);
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-box-shadow: var(--mainBoxShadow);
            box-shadow: var(--mainBoxShadow);
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
}
.newsletter-form-submitBtn:hover {
    cursor: pointer;
    -webkit-box-shadow: var(--pressBoxShadow);
            box-shadow: var(--pressBoxShadow);
    background-color: var(--primaryColor);
    color: var(--mainWhite);
}
@media screen and (min-width: 768px) {
    .newsletter-form-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 80%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .newsletter-form-submitBtn {
        width: 30%;
    }
    .newsletter-form-input  {
        width: 60%
    }
}
@media screen and (min-width: 992px) {
    .newsletter-title-title {
        font-size: 3rem;
    }
}
@media screen and (min-width: 1200px) {
    .newsletter-form-form {
        width: 60%;
    }
}
/* ======================================================================================================================== */
/* FOOTER */
/* ======================================================================================================================== */
.footer {
    background-image: url('../images/hero.jpeg');
    background-size: cover;
    background-position-x: center; 
    background-attachment: fixed;
    color: var(--mainWhite);
    text-align: center;
    text-shadow: var(--mainTextShadow);
    font-size: 1.5rem;
}
.footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 4rem 0 0 0;
    font-size: 3rem;
}
.footer-icons i {
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
}
.footer-icons i:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.footer-desc {
    width: 90%;
    margin: auto;
    text-transform: capitalize;
    padding: 4rem 0;
}
@media screen and (min-width: 1200px) {
    .footer-desc,
    .footer-icons {
        margin: auto;
        width: 60%;
    }
}
/* ======================================================================================================================== */
/* NAVBAR */
/* ======================================================================================================================== */
.navbar-container {
    position: fixed;
    z-index: 1;
    width: 0%;
    height: 100%;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
}
.navbar-container-active {
    width: 100%;
}
.navbar-btn {
    position: relative;
    width: 10%;
    padding: 1rem;
    z-index: 9;
}
.navbar-btn:hover .bar {
    background-color: var(--secondaryColor);
}
.navbar-btn:hover {
    cursor: pointer;
}
.bar{
    height: 6px;
    width: 30px;
    background-color: black;
    border-radius: 10px;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
    background-color: var(--mainDark);
    -webkit-box-shadow: 4px 4px 4px var(--mainDark);
            box-shadow: 4px 4px 4px var(--mainDark);
}
.bar:not(:first-of-type) {
    margin-top: 6px;
}
.active .bar1 {
    width: 20px;
    -webkit-transform: rotate(-45deg) 
            translate(-8px, 2px);
            transform: rotate(-45deg) 
            translate(-8px, 2px);
}
.active .bar3 {
    width: 20px;
    -webkit-transform: rotate(45deg)
            translate(-8px, -2px);
            transform: rotate(45deg)
            translate(-8px, -2px);
}
.navbar-links-container {
    position: absolute;
    top: 0;
    padding-top: 3rem; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--mainWhite);
    width: 0;
    height: 100%;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
}
.navbar-links-container-active {
    width: 100%;
}
.navbar-link {
    text-transform: uppercase;
    display: none;
    opacity: 0;
    font-size: 1.5rem;
    padding: 1rem;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
    color: var(--mainDark);
}
.navbar-link:hover {
    font-weight: 700;
    padding-left: 2rem;
    color: var(--secondaryColor);
}
.navbar-link-active {
    display: block;
}
.navbar-link-active-appear {
    opacity: 1;
}
.navbar-icon {
    font-size: 0;
    -webkit-transition: var(--mainTransition);
    transition: var(--mainTransition);
    color: var(--mainDark);
}
.navbar-link-icon-appear {
    font-size: 2rem;
}
.navbar-icon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: var(--secondaryColor);
}
.navbar-icons-container {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
@media screen and (min-width: 1200px) {
    .navbar-links-container-active {
        width: 30%;
    }
}